$white: #dee0e7;
$gainsboro: #d2d4db;
$sky-blue: #6cc4e2;
$queen-blue: #526e8d;
$dark-liver-horses: #503d3f;
$dark-queen-blue: #212529;
$midnight: #1d1d1d;
$midnight-light: #222222;
$midnight-very-light: #303030;
